<nav class="sidebar" [class.open]="isSidebarOpen">
  <!-- Logo -->
  <div class="logo">
    <img src="hc.ico" alt="Logo" />
  </div>

  <!-- Main Menu -->
  <ul class="menu">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/patient/home">
        <img src="/house-chimney-floor-svgrepo-com.svg" alt="Home Icon" />
        <span>Home</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/patient/doctors">
        <img src="/hospital-svgrepo-com.svg" alt="Doctors Icon" />
        <span>Doctors</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/patient/messages">
        <img src="/message-circle-chat-svgrepo-com.svg" alt="Messages Icon" />
        <span>Messages</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/patient/files">
        <img src="/folder-svgrepo-com.svg" alt="Files Icon" />
        <span>Files</span>
      </a>
    </li>
  </ul>

  <!-- Hamburger -->
  <button class="hamburger" (click)="toggleSidebar()">☰</button>
</nav>
